{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Discipline information</title>
</head>
<body>
<header>Discipline Information</header>
<div class="container">
    {% block content %}
    <div class="university_info">
        <h3>Number of program:</h3>
        <p>{{info.number_of_program}}</p>
        <br>
        <h3>Name of course:</h3>
        <p>{{info.name_of_program}}</p>
        <br>
        <h3>Name of subject:</h3>
        <p>{{info.subject}}</p>
        <br>
        <h3>Year of education:</h3>
        <p>{{info.year_of_education}}</p>
        <br>
        <h3>Groups count:</h3>
        <p>{{info.groups_count}}</p>
    </div>
    {% endblock content %}
</div>
</body>
</html>