{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Groups information</title>
</head>
<body>
<header>Groups Information</header>
<div class="container">
    {% block content %}
    <div class="university_info">
        <table>
            <tr>
                <th>Group ID</th>
                <th>Student ID</th>
                <th>Student personal data</th>
                <th>Education salary</th>
            </tr>
            <tr>

            </tr>
        </table>
    </div>
    {% endblock content %}
</div>
</body>
</html>