{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Groups information</title>
</head>
<body>
<header>
    <h1>Groups Information</h1>
</header>
<div class="container">
    {% block content %}
    <div class="groups-info">
        <table style="border-collapse: collapse; border: 1px solid black; width: 50%; height: auto">
            <tr>
                <th style="border-collapse: collapse; border: 1px solid black;">Group ID</th>
                <th style="border-collapse: collapse; border: 1px solid black;">Student ID</th>
                <th style="border-collapse: collapse; border: 1px solid black;">Student personal data</th>
                <th style="border-collapse: collapse; border: 1px solid black;">Education salary</th>
            </tr>
            {% for value in info %}
            <td rowspan="9" style="border-collapse: collapse; border: 1px solid black;">
                {{ value.id }}
            </td>
            {% for in_value in value.students %}
            <tr>
                <td style="border-collapse: collapse; border: 1px solid black;">
                    {{ in_value.list_id }}
                </td>
                <td style="border-collapse: collapse; border: 1px solid black;">
                    {{ in_value.pers_data }}
                </td>
                <td style="border-collapse: collapse; border: 1px solid black;">
                    {{ in_value.education_salary }}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </div>
    {% endblock content %}
</div>
</body>
</html>